.App {
  /* text-align: center; */
  background-color: red;
  height: 100vh;
  overflow: auto;
  /* min-height: 100vh; */
  /* max-height: 200vh; */
  /* height: 100vh; */
  /* height: 100%; */
}

body {
  background: #ccc;
  /* height: 500px; */
  /* height: 100vh; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.grid-container {
  display: flex;
  background-color: aqua;
  min-height: 100vh;
  width: 100%;
}

.grid-container-heading,
.grid-container-dash {
  display: grid;
  grid-template-columns: 0.7fr 2fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.grid-item.dash {
  /* padding: 20px; */
  flex-grow: 8;
}

.menu {
  flex-grow: 1;
  height: 100%;
  padding: 0px 20px;
  /* margin: 50px */
}

.subNav {
  display: flex;
  align-items: center;
  background-color: beige;
}

.subNav form input {
  /* display: flex; */
  margin: 0 20px;
}

.subNav form label {
  margin: 0 5px;
}

.addOrder {
  display: flex;
  /* flex-basis: 500px; */
  justify-content: flex-end;
  flex-grow: 8;
  margin: 0 20px;
}

/* .subNav form  {
  align-items: center;
  justify-content: center
} */

.grid-item-heading {
  background-color: red;
}

.dashbody {
  /* margin: 20px; */
  padding: 10px 20px;
  background-color: coral;
  height: 94%;
}

.container {
  display: flex;
  height: 100%;
  /* padding: 20px; */
  /* margin: 20px; */
}

.grid-item {}

.menu {
  background-color: blue;
  /* padding: 10px; */
  /* margin: 0; */
}